In [1]:
import numpy as np
import pandas as pd
import requests
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm_notebook
%matplotlib inline 

pd.set_option('display.max_columns', None)  
pd.set_option('display.max_rows', None) 
pd.set_option('display.max_colwidth', None)
pd.options.display.float_format = '{:,.7f}'.format

In [22]:
# market_swap_txs_DF = pd.read_csv("./cleaned_data/market_swap_txs_DF.csv")
aggregated_market_swap_txs_DF = pd.read_csv("./cleaned_data/aggregated_market_swap_txs_DF.csv") 
astroport_ust_luna_txs_DF = pd.read_csv("./cleaned_data/astroport_ust_luna_txs_DF.csv") 
exchange_rate_vote_txs_DF = pd.read_csv("./cleaned_data/exchange_rate_vote_txs_DF.csv") 
aggregated_exchange_rate_vote_txs_DF = pd.read_csv("./cleaned_data/aggregated_exchange_rate_vote_txs_DF.csv")

In [23]:
# market_swap_txs_DF.head(3)
# aggregated_market_swap_txs_DF.tail(3)
# astroport_ust_luna_txs_DF.tail(3)
# exchange_rate_vote_txs_DF.tail(3)
aggregated_exchange_rate_vote_txs_DF.tail(3)

        Unnamed: 0  BlockHeight  ukrw::mean  usdr::mean  uusd::mean
681522      681522      7639897   0.0000000   0.0000000   0.0000000
681523      681523      7639898   0.0000000   0.0000000   0.0000000
681524      681524      7639899   0.0000000   0.0000000   0.0000000

In [24]:
# Get Block heights for which data is available and block height range for which simulation is to be executed

astroport_txs_DF_start_block = astroport_ust_luna_txs_DF.iloc[0]["BlockHeight"]
astroport_txs_DF_end_block = astroport_ust_luna_txs_DF.iloc[len(astroport_ust_luna_txs_DF.index) - 1]["BlockHeight"]
print(f"astroport_txs_DF || Start block = {astroport_txs_DF_start_block}  End block = {astroport_txs_DF_end_block} \
Total Blocks = {astroport_txs_DF_end_block - astroport_txs_DF_start_block}")

aggregated_market_swap_txs_DF_start_block = aggregated_market_swap_txs_DF.iloc[0]["BlockHeight"]
aggregated_market_swap_txs_DF_end_block = aggregated_market_swap_txs_DF.iloc[len(aggregated_market_swap_txs_DF.index) - 1]["BlockHeight"]
print(f"aggregated_market_swap_txs_DF || Start block = {aggregated_market_swap_txs_DF_start_block}  End block = {aggregated_market_swap_txs_DF_end_block} \
Total Blocks = {aggregated_market_swap_txs_DF_end_block - aggregated_market_swap_txs_DF_start_block}")

market_swap_txs_DF_start_block = market_swap_txs_DF.iloc[0]["BlockHeight"]
market_swap_txs_DF_end_block = market_swap_txs_DF.iloc[len(market_swap_txs_DF.index) - 1]["BlockHeight"]
print(f"market_swap_txs_DF || Start block = {market_swap_txs_DF_start_block}  End block = {market_swap_txs_DF_end_block} \
Total Blocks = {market_swap_txs_DF_end_block - market_swap_txs_DF_start_block}")

oracle_txs_DF_start_block = aggregated_exchange_rate_vote_txs_DF.iloc[0]["BlockHeight"]
oracle_txs_DF_end_block = aggregated_exchange_rate_vote_txs_DF.iloc[len(aggregated_exchange_rate_vote_txs_DF.index) - 1]["BlockHeight"]
print(f"oracle_txs_DF || Start block = {oracle_txs_DF_start_block}  End block = {oracle_txs_DF_end_block} \
Total Blocks = {oracle_txs_DF_end_block - oracle_txs_DF_start_block}")

START_BLOCK = int(max(astroport_txs_DF_start_block, max(market_swap_txs_DF_start_block, oracle_txs_DF_start_block)))
START_BLOCK = int(max(START_BLOCK, aggregated_market_swap_txs_DF_start_block))
END_BLOCK = int(min(astroport_txs_DF_end_block, min(market_swap_txs_DF_end_block, oracle_txs_DF_end_block)))
END_BLOCK = int(min(END_BLOCK, aggregated_market_swap_txs_DF_end_block))
print(f"\nCommon Range, Start block = {START_BLOCK} End block = {END_BLOCK} | Total blocks = {END_BLOCK - START_BLOCK}")

astroport_txs_DF || Start block = 7117990  End block = 7622720 Total Blocks = 504730
aggregated_market_swap_txs_DF || Start block = 6960461.0  End block = 7610028.0 Total Blocks = 649567.0
market_swap_txs_DF || Start block = 6960461  End block = 7639889 Total Blocks = 679428
oracle_txs_DF || Start block = 6958375.0  End block = 7639899.0 Total Blocks = 681524.0

Common Range, Start block = 7117990 End block = 7610028 | Total blocks = 492038

In [ ]:
# Get DataFrames from pre-processed .csv files

## Oracle prices dataset
aggregated_exchange_rate_vote_txs_DF = pd.read_csv("./terra_classic_dataset/aggregated_exchange_rate_vote_txs_DF.csv")